/* RESET */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
   outline: none;
   list-style: none;
   text-decoration: none;
   background: none;
   font-family: "Golos Text", sans-serif;
   font-weight: 400;
   font-variant-numeric: lining-nums;
   color: var(--black);
}
h1,
h2,
h3,
h1 > *,
h2 > *,
h3 > * {
   font-family: "Merriweather", serif;
   text-transform: uppercase;
   letter-spacing: 0.15vw;
   line-height: 1.19;
}
html {
   overflow-y: scroll;
}
body {
   width: 100%;
   overflow-x: hidden;
}
body > *:not(.hero) {
   background: white;
}

/* REUSABLE */
:root {
   --red: rgba(245, 73, 50, 1);
   --blue: rgba(48, 87, 162, 1);
   --yellow: rgba(251, 206, 81, 1);
   --gray: rgba(214, 214, 214, 1);
   --black: rgba(49, 49, 49, 1);
}
.red_text {
   font-weight: 700;
   color: var(--red);
}
.scroll_line-container {
   z-index: 11;
   overflow: hidden;
   height: fit-content;
   width: 100%;
   background: var(--red);
}
.scroll_line {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1vw;
   padding: 1.4vw 0;
   width: fit-content;
   white-space: nowrap;
   animation: move 20s linear infinite;
}
@keyframes move {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(-50%);
   }
}
.scroll_line div {
   width: fit-content;
   font-family: "Merriweather";
   text-transform: uppercase;
   color: white;
   font-size: 1.5vw;
}
.scroll_line span {
   background: white;
   width: 0.4vw;
   height: 0.4vw;
   border-radius: 100vw;
}
.pagination-prev,
.pagination-next {
   background: var(--black);
   border-radius: 100vw;
   padding: 0.9vw 1.2vw;
   width: 3vw;
   height: 3vw;
   cursor: pointer;
   transition: background 0.2s;
}
.pagination-next {
   transform: rotate(180deg);
}
.pagination-next:hover,
.pagination-prev:hover {
   background: var(--yellow);
}
.pagination-next.disabled,
.pagination-prev.disabled {
   background: var(--gray);
   pointer-events: none;
}
/* HERO BLOCK */
.hero {
   height: 100vh;
}
.hero-texture {
   z-index: 5;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url("../assets/img/bg.webp") no-repeat center/cover;
   mix-blend-mode: color-burn;
}
.hero-bg {
   z-index: -10;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgb(233, 222, 212);
}
.hero-content {
   z-index: 100;
   position: absolute;
   height: fit-content;
   display: flex;
   flex-direction: column;
   width: 51vw;
   padding: 1.9vw 5.2vw;
}
.hero-content-logo {
   width: 18vw;
}
.hero-content h2 {
   margin-top: 4.3vw;
   font-size: 4.2vw;
}
.hero-content h2 p {
   font-size: 4.2vw;
   text-align: center;
   line-height: 1.13;
}
.hero-content h2 > :first-child {
   margin-left: -0.6vw;
}
.hero-content h2 > :last-child {
   margin-right: -2vw;
}
.hero-content > p {
   margin: 1.9vw 0 0 -1vw;
   text-align: center;
   font-size: 1.3vw;
   letter-spacing: 0.01vw;
}
.hero-content > p br {
   display: none;
}
.hero-content-buttons {
   margin-top: 3vw;
   display: flex;
   gap: 1.2vw;
}
.hero-content-buttons button {
   font-size: 1.1vw;
   font-weight: 600;
   border-radius: 100vw;
   cursor: pointer;
   transition: background 0.2s, color 0.2s;
}
.hero-content-buttons button:first-child {
   background: rgba(31, 31, 31, 1);
   padding: 1.3vw 4.7vw;
   color: white;
}
.hero-content-buttons button:first-child:hover {
   background: var(--yellow);
   color: rgba(31, 31, 31, 1);
}
.hero-content-buttons button:last-child {
   border: 2px solid rgba(31, 31, 31, 1);
   padding: 1.3vw 6.5vw;
}
.hero-content-buttons button:last-child:hover {
   background: rgba(31, 31, 31, 1);
   color: white;
}
.hero-img {
   position: absolute;
   top: 0;
   right: 0;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}
.hero-img > * {
   position: absolute;
   pointer-events: none;
}
.hero-img-text_circle-container {
   z-index: 0;
   bottom: 11vw;
   right: 2.5vw;
   width: 48vw;
   height: 47.8vw;
   background: var(--yellow);
   border-radius: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}
.hero-img-text_circle {
   position: absolute;
   bottom: 0.5vw;
   width: 47vw;
   height: 47vw;
   opacity: 0.7;
   mix-blend-mode: overlay;
   animation: rotate 40s linear infinite;
}
@keyframes rotate {
   0% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(360deg);
   }
}
.hero-img-city-stroke {
   z-index: 5;
   bottom: 4.6vw;
   right: -8.6vw;
   width: 118.5vw;
   height: 31.7vw;
}
.hero-img-city-fill {
   z-index: 4;
   bottom: 4.5vw;
   right: -10vw;
   width: 118.5vw;
   height: 31.5vw;
   background: linear-gradient(
      90deg,
      rgb(255, 242, 230) 0%,
      rgba(233, 222, 212, 0) 100%
   );
   mask: url("../assets/img/city.webp") no-repeat center/cover;
   mix-blend-mode: multiply;
}
.hero-img-city {
   z-index: 3;
   bottom: 4.5vw;
   right: -10vw;
   width: 118.5vw;
   height: 31.5vw;
}
.hero-img-chess_3 {
   z-index: 5;
   bottom: 4vw;
   right: 24vw;
   width: 15vw;
}
.hero-img-chess_1 {
   z-index: 5;
   bottom: 6vw;
   right: 3.3vw;
   width: 6vw;
}
.hero-img-chess_4 {
   z-index: 2;
   width: 11vw;
   bottom: 23.7vw;
   right: 11.7vw;
}
.hero-img-chess_2 {
   z-index: 2;
   width: 10vw;
   bottom: 15.6vw;
   right: 37vw;
}
.hero-scroll {
   position: absolute;
   bottom: 0;
   left: 0;
}

/* SUPPORT */
.support {
   position: relative;
   max-width: 100vw;
   padding: 5.6vw 5.2vw;
   display: grid;
   align-items: center;
   gap: 6.7vw 3vw;
   grid-template-columns: repeat(3, 1fr);
   grid-template-areas:
      "heading1 heading1 img1"
      "img2 heading2 heading2"
      "img2 info info"
      "img2 contact contact";
}
.support .heading1 {
   margin-top: 2.2vw;
   grid-area: heading1;
   width: 90%;
}
.support .heading2 {
   grid-area: heading2;
   width: 98%;
}
.support h2,
h2 > * {
   font-size: 2.5vw;
   line-height: 3.6vw;
   letter-spacing: 0.1vw;
}
.support-chess_players {
   pointer-events: none;
   position: absolute;
   right: 5.2vw;
   top: 5.6vw;
   width: 29.4vw;
}
.support-collage {
   pointer-events: none;
   grid-area: img2;
   width: 39vw;
   margin: -3vw -2vw 0 -2vw;
}
.support-info {
   margin-top: -4vw;
   grid-area: info;
   display: flex;
   flex-direction: column;
}
.support-info > * {
   display: flex;
   align-items: center;
   border: solid rgba(208, 208, 208, 1);
   border-width: 0 0 2px 0;
   font-size: 1.46vw;
}
.support-info-heading {
   flex: 1;
   padding: 1.1vw 0;
   border: solid rgba(208, 208, 208, 1);
   border-width: 0 2px 0 0;
   opacity: 0.7;
}
.support-info-text {
   flex: 1.26;
   padding-left: 1.1vw;
   font-weight: 700;
}
.support-info-text > * {
   font-weight: 700;
   text-decoration: line-through 2px var(--red);
   margin-right: 0.5vw;
}
.support-info .last {
   border-bottom: none;
}
.support-contact,
.support-contact > * {
   grid-area: contact;
   color: var(--blue);
   font-size: 1.3vw;
   margin-top: -8vw;
}

/* STAGES */
.stages {
   padding: 5.8vw 5.2vw;
   position: relative;
}
.stages h2 {
   font-size: 3.76vw;
   line-height: 4.8vw;
   width: 60vw;
}
.stages span {
   position: absolute;
   margin: 0.6vw 1.4vw;
   width: 19vw;
   font-family: "Golos Text";
   text-transform: initial;
   line-height: normal;
   font-size: 1.32vw;
   color: var(--blue);
}
.stages-container {
   width: 100%;
   margin-top: 3.7vw;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr 1fr auto;
   gap: 1.2vw;
}
.stages-container > li:nth-child(1) {
   grid-column: 1;
}
.stages-container > li:nth-child(2) {
   grid-column: 2;
}
.stages-container > li:nth-child(3) {
   grid-column: 3;
   grid-row: 1 / 3;
}
.stages-container > li:nth-child(4) {
   grid-column: 1;
   grid-row: 2;
}
.stages-container > li:nth-child(5) {
   grid-column: 2;
   grid-row: 2;
}
.stages-container > li:nth-child(6) {
   grid-column: 1;
   grid-row: 3;
}
.stages-container > li:nth-child(7) {
   grid-column: 2 / 4;
}
.stages-container > li {
   display: flex;
   align-items: flex-start;
   gap: 1.2vw;
   background: url("../assets/img/brown-bg.webp");
   background-blend-mode: color-burn;
   padding: 1.5vw 1.7vw 1.5vw 1.4vw;
}
.stages-stage-number {
   font-size: 1.44vw;
   font-weight: 700;
   background: white;
   border-radius: 100vw;
   padding: 0.6vw 1vw;
}
.stages-stage-text {
   font-size: 1.5vw;
   font-weight: 600;
   letter-spacing: -0.02vw;
}
.stages-container > *:nth-child(7) .stages-stage-text {
   width: 53%;
}
.stages-img {
   pointer-events: none;
   width: 31vw;
   position: absolute;
   right: 0vw;
   bottom: 6vw;
}
.stages-pagination {
   display: none;
}

/* PLAYERS */
.players {
   padding: 8.8vw 0 5.8vw 0;
}
.players-top {
   padding: 0 5.2vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.players-top h2 {
   font-size: 3.76vw;
}
.players-pagination {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.7vw;
}
.players-pagination-count span {
   font-size: 1.4vw;
   letter-spacing: 0.15vw;
   opacity: 0.6;
}
.players-pagination-count {
   transform: translateY(-50%);
   margin-top: 15%;
}
.players-pagination-count > span:nth-child(1),
.players-pagination-count > span:nth-child(2) {
   opacity: 1;
}
.players-pagination-count > span:nth-child(2) {
   display: none;
}
.players-carousel {
   padding: 4.4vw 0;
   width: 100vw;
   display: flex;
   overflow: hidden;
}
.players-carousel li {
   flex-shrink: 0;
   width: 33vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.players-carousel li img {
   pointer-events: none;
   width: 23.4vw;
}
.players-carousel li .name {
   margin-top: 2.2vw;
   font-size: 1.77vw;
   font-weight: 700;
}
.players-carousel li .status {
   margin-top: 0.4vw;
   font-size: 1.48vw;
   opacity: 0.6;
}
.players-carousel li .button {
   margin-top: 1.4vw;
   font-size: 1.25vw;
   padding: 0.4vw 0.6vw;
   color: var(--blue);
   border: 1px solid var(--blue);
   border-radius: 100vw;
   cursor: pointer;
   transition: background 0.2s, color 0.2s;
}
.players-carousel li .button:hover {
   background: var(--blue);
   color: white;
}

/* FOOTER */
footer {
   position: relative;
}
.footer-text {
   background: rgba(233, 222, 212, 1);
   padding: 2.7vw 6vw 4.9vw 5.2vw;
   font-size: 0.97vw;
}

/* RESPONSIVE */
@media (width > 1500px) {
   .scroll_line {
      gap: 1vw;
      padding: 1vw 0;
   }
   .scroll_line div {
      font-size: 1vw;
   }
   .hero-content-logo {
      width: 13vw;
   }
   .hero-content h2 {
      margin: 7vw 0 0 4vw;
      font-size: 2.8vw;
   }
   .hero-content h2 p {
      font-size: 2.8vw;
      text-align: center;
      line-height: 1.13;
   }
   .hero-content > p {
      margin: 1vw 0 0 2.6vw;
      font-size: 1vw;
      width: 33vw;
   }
   .hero-content-buttons button {
      font-size: 0.9vw;
   }
   .hero-content-buttons button:first-child {
      margin-left: 2.6vw;
      padding: 1vw 3.7vw;
   }
   .hero-content-buttons button:last-child {
      padding: 1vw 5.5vw;
   }
   .hero-img {
      top: 2vw;
   }
   .hero-img-text_circle-container {
      top: 0;
   }
   .support h2,
   h2 > * {
      font-size: 2vw;
   }
   .support h2 br {
      display: none;
   }
   .support-info > * {
      padding: 1vw;
      font-size: 1vw;
   }
   .support-contact {
      font-size: 1vw;
   }
   .stages h2 {
      font-size: 2.5vw;
   }
   .stages h2 span {
      font-size: 1vw;
      margin-top: 1.1vw;
   }
   .stages-stage-number {
      font-size: 1vw;
   }
   .stages-stage-text {
      font-size: 1.2vw;
      font-weight: 600;
      letter-spacing: -0.02vw;
   }
   .players-top h2 {
      font-size: 2.5vw;
   }
   .players-pagination-prev,
   .players-pagination-next {
      padding: 0.5vw 0.2vw;
      width: 1.9vw;
      height: 1.9vw;
   }
   .players-pagination-count span {
      font-size: 1vw;
   }
   .players-carousel {
      padding: 4.4vw 5vw;
      width: 89vw;
      display: flex;
      gap: 9vw;
      overflow: hidden;
   }
   .players-carousel li img {
      pointer-events: none;
      width: 20vw;
   }
   .players-carousel li .name {
      font-size: 1.3vw;
   }
   .players-carousel li .status {
      font-size: 1.2vw;
   }
   .players-carousel li .button {
      margin-top: 1vw;
      font-size: 1vw;
   }
   .footer-text {
      padding: 2vw 6vw 4vw 5.2vw;
      font-size: 1vw;
   }
}
@media (width < 580px) {
   /* REUSABLE */
   h2,
   h2 > * {
      line-height: 10.7vw;
   }
   .scroll_line {
      gap: 2vw;
      padding: 2.3vw 0;
   }
   .scroll_line div {
      font-size: 4.2vw;
   }
   .scroll_line span {
      width: 1vw;
      height: 1vw;
   }
   .pagination-prev,
   .pagination-next {
      padding: 2.7vw 1.1vw 2.5vw 0vw;
      width: 9.7vw;
      height: 9.7vw;
   }

   /* HERO */
   .hero {
      position: relative;
      height: 216.5vw;
   }
   .hero-bg {
      height: 216.5vw;
   }
   .hero-texture {
      height: 216.5vw;
   }
   .hero-content {
      width: 100vw;
      padding: 5vw 5.2vw;
   }
   .hero-content-logo {
      width: 57vw;
   }
   .hero-content h2 {
      margin-top: 11vw;
      font-size: 9.4vw;
   }
   .hero-content h2 p {
      font-size: 9.4vw;
   }
   .hero-content h2 > :last-child {
      margin-right: -7.6vw;
   }
   .hero-content > p {
      margin: 6vw 0 0 0;
      text-align: left;
      font-size: 4.9vw;
      letter-spacing: -0.05vw;
   }
   .hero-content > p br {
      display: block;
   }
   .hero-content-buttons {
      margin-top: 9.3vw;
      flex-direction: column;
      gap: 4vw;
   }
   .hero-content-buttons button {
      font-size: 4.3vw;
   }
   .hero-content-buttons button br {
      display: none;
   }
   .hero-content-buttons button:first-child {
      padding: 3.6vw 4.7vw;
   }
   .hero-content-buttons button:last-child {
      padding: 3.6vw 6.5vw;
      background: rgb(255, 255, 255, 0.9);
      border: none;
   }
   .hero-img {
      bottom: 0;
      width: 100vw;
      height: auto;
   }
   .hero-img-text_circle-container {
      bottom: 29vw;
      right: 13vw;
      width: 79vw;
      height: 78.8vw;
   }
   .hero-img-text_circle {
      width: 77vw;
      height: 77vw;
      bottom: 1vw;
   }
   .hero-img-city-stroke {
      bottom: 9vw;
      right: -27vw;
      width: 237vw;
      height: auto;
   }
   .hero-img-city-fill {
      bottom: 9.7vw;
      right: -29.9vw;
      width: 237vw;
      height: auto;
   }
   .hero-img-city {
      z-index: 3;
      bottom: 9.7vw;
      right: -29.9vw;
      width: 237vw;
      height: auto;
   }
   .hero-img-chess_3 {
      bottom: 9.7vw;
      right: 34vw;
      width: 27.5vw;
   }
   .hero-img-chess_1 {
      display: none;
   }
   .hero-img-chess_4 {
      width: 16vw;
      bottom: 53.7vw;
      right: 23vw;
      transform: rotate(5deg);
   }
   .hero-img-chess_2 {
      width: 16vw;
      bottom: 39vw;
      right: 67vw;
   }

   /* SUPPORT */
   .support {
      padding: 0;
      display: grid;
      margin: 11vw 5.2vw;
      gap: 6vw 0;
      grid-template-columns: 1fr;
      grid-template-areas:
         "heading1"
         "img2"
         "heading2"
         "info"
         "contact";
   }
   .support .heading1 span:nth-child(1) {
      display: block;
      margin-bottom: 70vw;
   }
   .support .heading1 {
      width: 100%;
   }
   .support h2,
   h2 > * {
      font-size: 7.4vw;
      line-height: 10vw;
   }
   .support-chess_players {
      top: 49vw;
      right: 50%;
      transform: translateX(50%);
      width: 100%;
   }
   .support-collage {
      pointer-events: none;
      grid-area: img2;
      width: 111%;
      margin: 0 0 0 -5vw;
   }
   .support .heading2 {
      margin-top: -3vw;
   }
   .support .heading2 span {
      display: block;
   }
   .support-info {
      margin-top: 2vw;
      display: flex;
      flex-direction: column;
   }
   .support-info > * {
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 2.9vw 3vw;
      border-width: 0 0 2px 0;
      padding: 4vw 0;
      font-size: 5.4vw;
   }
   .support-info-heading {
      flex: initial;
      flex-shrink: 0;
      padding: 0;
      border-width: 0;
   }
   .support-info-text {
      flex: auto;
      flex-shrink: 0;
      padding-left: 0;
   }
   .support-info-text > * {
      margin-right: 2vw;
   }
   .support-contact,
   .support-contact > * {
      font-size: 4.8vw;
      margin-top: 0vw;
   }
   .support-contact > * {
      display: block;
   }

   /* STAGES */
   .stages {
      position: relative;
      padding: 0;
   }
   .stages h2 {
      padding: 21.1vw 5.2vw;
      font-size: 9.5vw;
      line-height: 10.7vw;
      width: 60vw;
   }
   .stages span {
      position: relative;
      display: block;
      margin: 4vw 0;
      width: 90vw;
      font-size: 4.65vw;
   }
   .stages-container {
      margin-top: 15vw;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr 1fr;
      gap: 0 10vw;
      width: 100%;
      height: 80vw;
      padding: 0 5.2vw;
      overflow-x: hidden;
   }
   .stages-container > li:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
      padding-top: 16vw;
   }
   .stages-container > li:nth-child(2) {
      grid-column: 1;
      grid-row: 2;
      padding-top: 7vw;
   }
   .stages-container > li:nth-child(3) {
      grid-column: 2;
      grid-row: 1 / 3;
      padding-top: 16vw;
   }
   .stages-container > li:nth-child(4) {
      grid-column: 3;
      grid-row: 1;
      padding-top: 16vw;
   }
   .stages-container > li:nth-child(5) {
      grid-column: 3;
      grid-row: 2;
   }
   .stages-container > li:nth-child(6) {
      grid-column: 4;
      grid-row: 1 / 3;
      padding-top: 16vw;
   }
   .stages-container > li:nth-child(7) {
      grid-column: 5;
      grid-row: 1 / 3;
      padding-top: 16vw;
   }
   .stages-container > li {
      padding: 0 7vw 0 5.5vw;
      width: 90vw;
      gap: 5vw;
   }
   .stages-stage-number {
      font-size: 5.4vw;
      padding: 1.3vw 3.1vw;
   }
   .stages-stage-text {
      font-size: 4.8vw;
      line-height: 5.7vw;
   }
   .stages-container > *:nth-child(7) .stages-stage-text {
      width: 100%;
   }
   .stages-img {
      width: 89vw;
      right: 2vw;
      bottom: 80vw;
      transform: rotate(-3deg);
   }
   .stages-pagination {
      display: flex;
      align-items: center;
      gap: 4vw;
      margin-top: 7vw;
      width: 100%;
      justify-content: center;
   }
   .stages-pagination-count {
      display: flex;
      align-items: center;
      gap: 1.9vw;
   }
   .stages-pagination-count > li {
      background: rgb(217, 217, 217);
      border-radius: 100vw;
      padding: 0.9vw 1.2vw;
      width: 2.5vw;
      height: 2.5vw;
      transition: background 0.2s;
   }
   .stages-pagination-count > li.active {
      background: var(--black);
   }

   /* PLAYERS */
   .players {
      padding: 32vw 0 5.8vw 0;
      position: relative;
      height: 121.5vh;
   }
   .players-top h2 {
      font-size: 9.4vw;
   }
   .players-pagination {
      position: absolute;
      bottom: 26.8vw;
      left: 50%;
      transform: translateX(-50%);
      gap: 3vw;
   }
   .players-pagination-count span {
      font-size: 4vw;
   }
   .players-pagination-count > span:nth-child(1) {
      display: none;
   }
   .players-pagination-count > span:nth-child(2) {
      display: inline;
   }
   .players-carousel {
      padding: 10vw 0;
   }
   .players-carousel li {
      flex-shrink: 0;
      width: 100vw;
   }
   .players-carousel li img {
      width: 66vw;
   }
   .players-carousel li .name {
      margin-top: 7vw;
      font-size: 6.44vw;
   }
   .players-carousel li .status {
      margin-top: 2vw;
      font-size: 5.3vw;
   }
   .players-carousel li .button {
      margin-top: 5.3vw;
      font-size: 4.5vw;
      padding: 1.6vw 2.3vw;
   }

   /* FOOTER */
   .footer-text {
      padding: 11vw 3.1vw 18vw 5vw;
      font-size: 4.4vw;
      line-height: 5.1vw;
      letter-spacing: -0.06vw;
   }

   .footer-text span {
      display: block;
   }
}
